{% extends "layout_unbranded_id.html" %}

{% block pageTitle %} Identity Verification Service
  {{serviceNameIdentity}} - Login
{% endblock %}

{% block content %}
<div class="pdpid-background-img">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">
    </div>
    <div class="govuk-grid-column-one-half pdpid-padding">
	    <a href="identity-consents" class="pdpid-no-link-detail"><img src="/public/images/generic-id-verification-service-login.png" class="pdpid-login-panel-centre pdpid-padding"></a>
	  </div>
	  <div class="govuk-grid-column-one-quarter">
    </div>
	</div>
</div>
{% endblock %}
