
{% extends "layout_canda.html" %}

{% block pageTitle %}
  {{serviceName}} - What do you want to do?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/consents-menu" method="post" class="form">
        {{ govukRadios({
          idPrefix: "consent-menu",
          name: "consent-menu",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "find",
              text: "Find your pensions",
              hint: {
                text: "Search for your pensions again e.g. if you have started a new job or opened a new private pension."
              }
            },
            {
              value: "delegation",
              text: "Consent to an authorised persion viewing your pensions"
            },
            {
              value: "manage-consents",
              text: "Change which organisations can display your pensions"
            },
            {
              value: "delete-user",
              text: "Remove all your information that we hold in this service",
              hint: {
                text: "This will delete all the information we hold about you e.g. which pensions you have."
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "pdp-consents-button"
        }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}