// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";



// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";
// red admin banner
.pdp-caption {
	background-color: #d4351c;
	color: white;
	width: 25%;
	padding-left: 10px;
}

// header
.pdp-admin-header {
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
//  border-bottom: 10px solid #E7EDF5;
  color: #0090FF;
  background: #000000;
}


.pdp-service-name-admin, 
.govuk-header__link:link,
.govuk-header__link:visited {
	position : relative;
	font-size : 2rem;
	font-weight : bold;
	color : #FFFFFF;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0px;
}


// header service name font size bigger

.govuk-header__link--service-name 
.pdp-header-content-admin {
  font-size: 32px;
}

.pdp-service-name, 
.govuk-header__link:link,
.govuk-header__link:visited {
	position : relative;
	font-size : 2rem;
	font-weight : bold;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0px;
}
.pdp-service-name, 
.pdp-service-name:hover,
.pdp-service-name:visited,
.pdp-service-name:active {
	position : relative;
	font-size : 2rem;
	font-weight : bold;
	color : black;
	text-decoration: none;
	text-align: center;
	margin-bottom: 0px;
}
.pdpid-center {
	text-align: center !important;
}
