
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Consents help
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Consenting to an authorised person viewing your pension information
          </h1>
          <h2 class="govuk-heading-m">
            Who we are?
          </h2>  
          <p>
            We are the <a href="https://moneyandpensionsservice.org.uk">Money and Pensions Service</a> (MaPS). Find your pensions is a service provided by MaPS in partnership with HM Government.
          </p>
          <h2 class="govuk-heading-m">
            Your rights
          </h2>
          <p>
            We respect an individual’s rights to privacy and to the protection of personal information. We have a responsibility to protect this information and ensure its confidentiality, integrity and availability. We also want you to be in control of your personal data.
          </p>
          <p>
            When we share information with third parties it is on a limited basis following due diligence and in accordance with our internal procedures and it will never be for marketing purposes.
          </p>
          <p>
            For more information see our <a href="/privacy-notice">privacy notice</a>
          </p>
          <h2 class="govuk-heading-m">
            Introduction to consent
          </h2>
          <p>
            Consent is a necessary part of using digital services where data sharing is required (you may have seen it with cookies). In order to keep your information secure and keep you in control of its usage we have a number of consents you can agree or disagree to. Please note that if you disagree to some consents you will not be able to access some functionalities of the service.
          </p>

          <h2 class="govuk-heading-m">
            Consent to MoneyHelper storing information about my pension providers
          </h2>
          <p>
            If you agree to this, MoneyHelper can store your information and preferences. This means when you access your account after your first search they will be able to retrieve the pension information you have already searched for automatically (also displaying any updated value information).
          </p>
          <p>
            If you do not agree to this consent, when you next access your account, after your first login, you will have to go through the entire process of searching for your pensions again.
          </p>
          <p>
            The information stored by agreeing to this consent is:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>information about your pensions</li>
            <li>consent expiry information</li>
          </ul>
          <p>
            This consent will expire after eighteen months when you will be asked to consent again.
          </p>

          <h2 class="govuk-heading-m">
            Consent to MoneyHelper contacting my pension providers to ask for my pension details
          </h2>
          <p>
            If you agree to this, MoneyHelper will contact your pension providers to ask for the information about your pensions to dispay.
          </p>
          <p>
            The information shared with pension providers is encrypted and is never used for contact or marketing purposes.
          </p>
          <p>
            If you do not agree to this, MoneyHelper cannot contact your pensions providers and you will not be able to use the service.
          </p> 

          <a href="fyp-consents" role="button" draggable="false" class="govuk-button pdp-button" data-module="govuk-button">
            Return
          </a>
      </div>
    </div>
  </div>

{% endblock %}
