{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameDashboard}}
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-start.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl">
        {{serviceNameDashboard}}
      </h1>
     
      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>see all of your pensions in one place</li>        
        <li>find pensions that you may have lost touch with</li>
        <li>find contact information for your pension providers</li>      
      </ul>

      <a href="fyp-consents" role="button" draggable="false" class="govuk-button pdp-button" data-module="govuk-button">
        Start now
      </a>
      <p>
        This service is backed by the UK Government and provided by the <a href="https://moneyandpensionsservice.org.uk" target="_blank">Money and Pensions Service</a>.
      </p>

    </div>
  </div>

{% endblock %}
