
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Searching for your pensions
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Consenting to storing, sharing and using your data
          </h1>

          <p>
            We're sorry this page is currently under construction
          </p>

          <a href="search" role="button" draggable="false" class="govuk-button pdp-button" data-module="govuk-button">
            Return
          </a>
      </div>
    </div>
  </div>

{% endblock %}
