
{% extends "layout_canda.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Searching for your pensions
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Consenting to storing, sharing and using your data
          </h1>
          <h2 class="govuk-heading-m">
            Who we are?
          </h2>  
          <p>
            We are the <a href="https://moneyandpensionsservice.org.uk">Money and Pensions Service</a> (MaPS). Find your pensions is a service provided by MaPS in partnership with HM Government.
          </p>
          <h2 class="govuk-heading-m">
            Your rights
          </h2>
          <p>
            We respect an individual’s rights to privacy and to the protection of personal information. We have a responsibility to protect this information and ensure its confidentiality, integrity and availability. We also want you to be in control of your personal data.
          </p>
          <p>
            When we share information with third parties it is on a limited basis following due diligence and in accordance with our internal procedures and it will never be for marketing purposes.
          </p>
          <p>
            For more information see our <a href="privacy-notice">privacy notice</a>
          </p>
          <h2 class="govuk-heading-m">
            Introduction to consent
          </h2>
          <p>
            Consent is a necessary part of using digital services where data sharing is required (you may have seen it with cookies). In order to keep your information secure and keep you in control of its usage we have a number of consents you can agree or disagree to. Please note that if you disagree to some consents you will not be able to access some functionalities of the service.
          </p>
          <h2 class="govuk-heading-m">
            Consent to the Money and Pensions Service storing, sharing and using your information
          </h2>
          <p>
            If you agree to this, the Find your pensions service, will contact pension providers and use your information collected from the identity service and any additional information you have provided to find matching pension records.
          </p>
          <p>
            You agree to information about your pension providers being registered by the Money and Pensions Service.
          </p>
          <p>
            You agree to the pension providers contacting the Money and Pensions Service to make sure that you have given your consent to the software provider that will display your pensions. So that they can display your pension information.
          </p>

          <p>
            If you do not agree to this, the Money and Pensions Service cannot contact the pensions providers and you will not be able to use the service.
          </p>

          <a href="search" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Return
          </a>
      </div>
    </div>
  </div>

{% endblock %}
