
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Searching for your pensions
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Consenting to storing, sharing and using your data
          </h1>

          <p>
            We wll share your information with pension providers so that they can search their records to find out if you have a pension registered with them.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non enim vel ante accumsan rutrum. Vivamus malesuada non risus et lobortis. Morbi ornare maximus congue. Sed elementum id leo nec commodo. Donec maximus sapien vitae nisi luctus, sed imperdiet velit lacinia. Nulla tempor iaculis est, id pulvinar ipsum pharetra eget. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas vel semper urna. Nunc vel ex eu urna porta blandit vel sit amet velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at felis purus. Fusce tempus dignissim elit et ultrices. Nulla felis metus, mollis id elit sed, egestas tempor quam. Quisque rutrum lacinia odio, dictum dapibus nisl congue sed.
          </p>
          <p>
            Nulla quis lectus et elit commodo imperdiet ac eu lectus. Duis sed vestibulum lorem. Ut dignissim erat et ligula maximus posuere. Nullam ullamcorper volutpat risus eget congue. Duis vitae volutpat lectus, tincidunt aliquam est. Vestibulum auctor iaculis lorem vitae vulputate. Ut venenatis tempor urna sed semper. Nunc ultricies elit ut augue fermentum, sit amet maximus est scelerisque. Proin velit eros, sagittis sodales sapien ut, facilisis ullamcorper magna. Etiam ligula turpis, euismod sit amet enim a, semper semper mi. Fusce cursus non ligula sed finibus. Donec in felis viverra, ultricies eros at, laoreet eros. Nunc et augue massa. Duis scelerisque mauris at laoreet tincidunt. Duis eget enim sit amet nibh laoreet molestie vel eget nulla. Duis interdum augue libero, et dapibus diam elementum ac.
          <p>
          <a href="search" role="button" draggable="false" class="govuk-button pdp-button" data-module="govuk-button">
            Back
          </a>
      </div>
    </div>
  </div>

{% endblock %}
