
{% extends "layout_canda.html" %}

{% block pageTitle %} Pension Finder
  {{serviceName}} - Select pension providers
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">  
      <h1 class="govuk-heading-l">
        Enter the name of your pension
      </h1>
    </div>
  </div>
  <p>
    If you don't know the names of your pensions you can <a href="find-all-or-directed">search all pensions</a>
  </p>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-for-provider" method="post" novalidate> 
      <div class="govuk-form-group {{errorFormClass}}" id="form-group">
        <span id="no-value-entered-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{errorString}}
        </span>
        </h2>
        <input class="govuk-input govuk-!-width-three-quarters {{errorInputClass}}" id="provider-search-value" name="provider-search-value" type="text" value="{{providerSearchValue}}">
        <p></p>
        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Search</button>
      </div>
    </form>


    {% if searchListNames.length > 0 %}
  
      <form action="/add-provider-to-list" method="post" novalidate>  

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="provider-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Add pension providers to the list
              </h2>
            </legend>
            <div id="provider-hint" class="govuk-hint">
              Select all that apply.
            </div>
            {% for details in searchListNames %}
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="provider-list" name="provider-list" type="checkbox" value="{{details}}">
                <label class="govuk-label govuk-checkboxes__label" for="provider-list">
                  {{details}}
                </label>
              </div>
            </div>
            {% endfor %}
          </fieldset>
        </div>
        <button class="govuk-button pdp-consents-button" data-module="govuk-button">
          Add pensions
        </button>
      </form>
      <p>
        When you have added all your pension providers to the list we will send your details to them so they can confirm that you have a pension with them.
      </p>
      {% if directedListNames|length > 0 %}
        <a href="/c-and-a/find/search" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
          Continue 
        </a>
      {% else %}
        <a href=# disabled="disabled" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
          Continue 
        </a>
      {% endif %}

    {% else %}
      {%if not firstPageLoad %}
        <p class="govuk-heading-s">
          There are no matching results.
        </p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>double-checking your spelling</li>
          <li>using fewer keywords</li>
          <li>searching for something less specific</li>
        </ul>
      {% endif %}
      <p>
        When you have added your pensions to the list we will send your details to them so they can confirm that you have a pension with them.
      </p>
      {% if directedListNames|length > 0 %}
        <a href="/c-and-a/find/search" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
          Continue 
        </a>
      {% else %}
        <a href=# disabled="disabled" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
          Continue 
        </a>
      {% endif %}

    {% endif %}
    </div>


    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        List of pension providers to search
      </h2>
      {% if not listStarted %}
        <p>
          Your list of pension to search for will appear here.
        </p>
      {% endif %}

      <table class="govuk-table">
        <tr class="govuk-table__row govuk-body-s" >
        {% for details in directedListNames %}
          <td class="govuk-table__cell">{{details}}</td>
          <td class="govuk-table__cell">
              <form action="/remove-provider/{{details}}" method="post" class="form">
               <button class="govuk-button govuk-button--warning pdp-consents-button-warning" onclick="removeProvider()" data-module="govuk-button">Remove</button>
             </form>
          </td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>
<!--  <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Choosing which pension providers to send your details to
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="pdp-consent-font">You may want to choose which pension providers to search:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>if you have a new pension and you know who the pension provider is</li>
            <li>if you know exactly where all your pensions are held</li>
          </ul>
        </div>
      </details>
    -->

{% endblock %}
