
{% extends "layout_canda.html" %}

{% block pageTitle %}
  {{serviceName}} - Search pension providers
{% endblock %}
{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="/find-all-or-directed" method="post" class="form">
        <h1 class="govuk-heading-l">
          Search for your pensions
        </h1>

        <p>
          To search for your pensions we send the information you have given us to all UK pension providers to find any matching records.
        </p>

        <p>
          If you know the name of a new pension to add to your list of pensions to display you can <a href="directed-find">enter the details</a> to search for those pensions.
        </p>
     </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">
        These are your pensions we have already found:
      </h2>

      {% for details in foundPensions %}
        <p class="govuk-body-s">
          {{details}}
        </p>
      {% endfor %}
  </div>

  </div>

{% endblock %}
