
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} - Search pension providers
{% endblock %}
{% block beforeContent %}

  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/find-all-or-directed" method="post" class="form">
        <h1 class="govuk-heading-xl">
          Search for your pensions
        </h1>

        <p>
          To find your pensions, we send the information you have given us to all UK pension providers.
        </p>

        <button class="govuk-button pdp-consents-button" data-module="govuk-button">
          Search all
        </button>

        <p>
          If you already know the names of all of your pension providers you can <a href="directed-find">enter their details</a> to search for your pensions with them.
        </p>
     </form>
    </div>
  </div>

{% endblock %}
