
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Searching for your pensions
{% endblock %}

{% block beforeContent %}
  {% include "progress-bar-search.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Searching for your pensions
          </h1>

          <p class="govuk-body">We will send the following information to {{directedOrAll}}:</p>
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">First name</th>
                <td class="govuk-table__cell">{{firstName}}</td>
              </tr>                
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Last name</th>
                <td class="govuk-table__cell">{{lastName}}</td>
              </tr>

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of birth</th>
                <td class="govuk-table__cell">{{dob}}</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Address</th>
                <td class="govuk-table__cell">{{address}}</td>
              </tr>      

              {% if niNumber %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">National Insurance number</th>
                  <td class="govuk-table__cell">{{niNumber}}</td>
                </tr>
              {% endif %}

              {% if altName %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Previous or alternative name</th>
                  <td class="govuk-table__cell">{{altName}}</td>
                </tr>
              {% endif %}
<!--
              {% if prevAddress %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Previous address</th>
                  <td class="govuk-table__cell">{{prevAddress}}</td>
                </tr>
              {% endif %}
-->                
              {% if emailAddress %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Email address</th>
                  <td class="govuk-table__cell">{{emailAddress}}</td>
                </tr>
              {% endif %}

              {% if telNumber %}
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Telephone number</th>
                  <td class="govuk-table__cell">{{telNumber}}</td>
                </tr>
              {% endif %}

            </tbody>
          </table>
          {% if directedFind %}
          <p>
            We will ask these pension providers to confirm that you have a pension with them:
          </p>
          <ul class="govuk-list govuk-list--bullet">
          {% for details in directedListNames %}
            <li>{{details}}</li>
          {% endfor %}
          </ul>
          {% endif %}
          </p>  
          <form action="/consents-all" method="post" novalidate>
        
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  To view your pensions you must consent to this statement
                </h2>
              </legend>
              <span id="consents-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:
                </span>
                {{consentsErrorString}}
              </span>

              <div class="govuk-checkboxes {{errorFormClass}}" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="consents-1" name="consents-1" type="checkbox" value="share-providers" {{checkedConsent1}}>
                  <label class="govuk-label govuk-checkboxes__label" for="consents-1"  >
                    I consent to the Money and Pensions Service storing, sharing and using my information, so that I can see my pensions
                  </label>
                </div>
              </div>
            </fieldset>
          </form>
          <br>

          <p>
            <a href="consents-help">More information about this consent</a>
          </p>
        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Continue</button>

      </div>
    </div>
  </div>

{% endblock %}
