{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - Reset password
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <form action="/fyp-password-reset" method="post" class="form">
      <h1 class="govuk-heading-l pdp-heading-font">
        Reset your password
      </h1>

      <span id="no-account-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{loginErrorStringPassword}}
      </span>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email">
          Email address
        </label>
        <div id="event-name-hint" class="govuk-hint">
          We'll send you an email which you can use to set up a new password.
        </div>
        <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
      </div>
      <div class="govuk-button-group">

        <button type="submit" class="govuk-button pdp-button" onclick="checkError(t)">Reset</button>
        <a href="/find-your-pensions/fyp-login">Back to login</a>
      </div>
    </form>


    <h2 class="govuk-heading-m pdp-heading-font">
      Don't have an account?
    </h2>
    <p><a href="/find-your-pensions/fyp-create-account" role="button">Create an account</a>.</p>

  </div>
</div>
{% endblock %}
