{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %} Pension Finder
  {{serviceNameConsents}} - You have given these people access to view your pensions
{% endblock %}
  
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/delegate-duration" method="post" novalidate>  

        <h1 class="govuk-heading-l">
          You have given access to an authorised person to view your pensions
        </h1>
        <table class="govuk-table" style="width:60%">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">{{delegateName}}</td>
            </tr>                
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Organisation</th>
              <td class="govuk-table__cell">{{delegateOrganisation}}</td>
            </tr>
            {% if delegateAddress %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">{{delegateAddress}}</td>
            </tr> 
            {% endif %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date access ends</th>
              <td class="govuk-table__cell">{{delegateDurationDate}} ({{delegateDuration}})</td>
            </tr> 
          </tbody>
        </table>     

        <a href="/find-your-pensions/fyp-display-pensions" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
        Return to MoneyHelper
        </a>
      </form>
    </div>
  </div>
  
{% endblock %}