
{% extends "layout_canda.html" %}

{% block pageTitle %}
  {{serviceNameConsents}} - Consents help
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l">
            Consenting to storing, sharing and using your data
          </h1>
          <h2 class="govuk-heading-m">
            Who we are?
          </h2>  
          <p>
            We are the <a href="https://moneyandpensionsservice.org.uk">Money and Pensions Service</a> (MaPS). Find your pensions is a service provided by MaPS in partnership with HM Government.
          </p>
          <h2 class="govuk-heading-m">
            Your rights
          </h2>
          <p>
            We respect an individual’s rights to privacy and to the protection of personal information. We have a responsibility to protect this information and ensure its confidentiality, integrity and availability. We also want you to be in control of your personal data.
          </p>
          <p>
            When we share information with third parties it is on a limited basis following due diligence and in accordance with our internal procedures and it will never be for marketing purposes.
          </p>
          <p>
            For more information see our <a href="/privacy-notice">privacy notice</a>
          </p>
          <h2 class="govuk-heading-m">
            Introduction to consent
          </h2>
          <p>
            Consent is a necessary part of using digital services where data sharing is required (you may have seen it with cookies). In order to keep your information secure and keep you in control of its usage we have a number of consents you can agree or disagree to. Please note that if you disagree to some consents you will not be able to access some functionalities of the service.
          </p>
          <h2 class="govuk-heading-m">
            Consent to an authorised person having access to view your pensions
          </h2>
          <p>
            If you agree to this, the authorised person will be able to view your pensions via a software provider for the period of time you have said. They will only be able to see the pensions that you selected.,
          </p>

          <p>
            If you do not agree to this, the Money and Pensions Service will not allow the authorised person you selected access to view your pensions.
          </p>

          <a href="consent" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Return
          </a>
      </div>
    </div>
  </div>

{% endblock %}
