{% extends "layout_unbranded.html" %}

{% block pageTitle %} Pension Finder
  {{serviceNameConsents}} - You have given these people access to view your pensions
{% endblock %}

{% block beforeContent %}
  {% include "delegation-progress-bar-confirm.html" %}
{% endblock %}
  
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">
        Give {{delegateName}} access to your pensions
      </h1>
      <table class="govuk-table" style="width:60%">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Name</th>
            <td class="govuk-table__cell">{{delegateName}}</td>
          </tr>                
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Organisation</th>
            <td class="govuk-table__cell">{{delegateOrganisation}}</td>
          </tr>
          {% if delegateAddress %}

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">{{delegateAddress}}</td>
          </tr> 
          {% endif %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date access ends</th>
            <td class="govuk-table__cell">{{delegateDurationDate}} ({{delegateDuration}})</td>
          </tr> 
        </tbody>
      </table>     

      <form action="/delegation-consent" method="post" novalidate>
      
          <fieldset class="govuk-fieldset">
            <span id="consents-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:
              </span>
              {{delegateConsentsErrorString}}
            </span>

            <div class="govuk-checkboxes {{errorFormClass}}" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consents-1" name="delegation-consent-1" type="checkbox" value="share-providers" {{checkedConsent1}}>
                <label class="govuk-label govuk-checkboxes__label" for="delegation-consent-1"  >
                  I consent to {{delegateName}} having access to view my pensions for {{delegateDuration}}
                </label>
              </div>
            </div>
          </fieldset>
        <br>

        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Confirm</button>
        <p> 
          <a class="govuk-link" href="/find-your-pensions/fyp-display-pensions" onclick="cancelDelegation()">
            Cancel without giving {{delegateName}} access to view your pensions
          </a>
        </p>
      </form>
    </div>
  </div>
  
{% endblock %}