{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %} Pension Finder
  {{serviceNameConsents}} - How long do you want delegate to have access to view your pensions?
{% endblock %}
  
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/delegate-duration" method="post" novalidate>  

        <h1 class="govuk-heading-l">
          How long do you want {{delegateName}} to have access to view your pensions?
        </h1>
        <div class="govuk-form-group">
          <label class="govuk-label" for="duration">
            Select how long you want to allow {{delegateName}} to have access to view your pensions.
          </label>
          <select class="govuk-select" id="duration" name="duration">
            <option value="{{dateTomorrow}}-24 hours">24 hours - until {{dateTomorrow}}</option>
            <option value="{{dateWeek}}-1 week">1 week - until {{dateWeek}}</option>
            <option value="{{dateMonth}}-1 month">1 month - until {{dateMonth}}</option>
            <option value="{{dateThreeMonths}}-3 months">3 months - until {{dateThreeMonths}}</option>
          </select>
        </div>

        <button class="govuk-button pdp-consents-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
  
{% endblock %}