
{% extends "layout_unbranded.html" %}

{% block pageTitle %} Pension Finder
  {{serviceNameConsents}} - Select which person can view your pensions
{% endblock %}
{% block beforeContent %}
  {% include "delegation-progress-bar-who.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">  
      <h1 class="govuk-heading-xl">
        Select who can view your pensions
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/search-delegate" method="post" novalidate>  
      <div class="govuk-form-group {{errorFormClass}}" id="form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="delegate-search-value">
            Enter the name or reference number of the person you want to give access to view your pensions
          </label>
        </h2>
        <span id="no-value-entered-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{delegateErrorString}}
        </span>
        <input class="govuk-input govuk-!-width-three-quarters {{errorInputClass}}" id="delegate-search-value" name="delegate-search-value" type="text" value="{{delegateSearchValue}}">
        <p></p>
        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Search</button>
      </div>
    </form>

    {% if searchListDelegates.length > 0 %}
  
      <form action="/select-delegate" method="post" novalidate>  
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="provider-hint">
            {% if searchListDelegates|length > 1 %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                We found {{searchListDelegates|length}} people matching your search
              </h2>
            </legend>
            <div id="provider-hint" class="govuk-hint">
              Select the person you want to have access to view your pensions
            </div>
            {% else %}
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                We found one person matching your search
              </h2>
            </legend>
            <div id="provider-hint" class="govuk-hint">
              Select this person if you want them to have access to view your pensions
            </div>            
            {% endif %}

            {% for details in searchListDelegates %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="delegate-list" name="delegate-list" type="radio" value="{{details}}">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  {{details}}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <button class="govuk-button pdp-consents-button" data-module="govuk-button">
          Select and continue
        </button>     
      </form>

    {% else %}

      {%if not delegateFirstPageLoad %}
        <p class="govuk-heading-s">
          There are no matching results.
        </p>
        <p class="govuk-body">Improve your search results by:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>double-checking your spelling</li>
          <li>using fewer keywords</li>
          <li>searching for something less specific</li>
        </ul>
      {% endif %}
    {% endif %}
    </div>
  </div>
</div>


{% endblock %}
