{% extends "layout_canda.html" %}


{% block pageTitle %} Delegation
  {{serviceNameConsents}} - Giving other people access to view your pensions
{% endblock %}
  
{% block beforeContent %}
  {% include "delegation-progress-bar-start.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/delegate-start" method="post" novalidate>  

        <h1 class="govuk-heading-l">
          Giving access to view your pensions
        </h1>

        <p>
          You can allow an authorised person to view your pensions if they have asked you to do so.
        </p>        
        <p>
          An authorised person can be:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a financial advisor</li>
          <li>someone who gives guidance on behalf of the Money and Pensions Service</li>
        </ul>

        <p>
          The person you delegate access to will only be able to view the same pension information as you. They will not be able to carry out any transactions on your pensions. 
        </p>
        <a href="identity-login" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
        Continue
        </a>

        <p>
          If someone already has access to view your pensions you can remove their access by <a href="withdraw-consent">withdrawing your consent</a>
        </p>


      </form>
    </div>
  </div>
  
{% endblock %}