{% extends "layout_unbranded.html" %}


{% block pageTitle %} Delegation
  {{serviceNameConsents}} - Giving other people access to view your pensions
{% endblock %}
  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/delegate-withdraw-consent" method="post" novalidate>  

        <h1 class="govuk-heading-l">
          Withdraw your consent to an authorised person viewing your pensions
        </h1>

        <p>
          Sorry this service is not currently available, please try later.
        </p>        

        <a href="start" role="button" draggable="false" class="govuk-button pdp-button" data-module="govuk-button">
        Return
        </a>
      
      </form>
    </div>
  </div>
  
{% endblock %}