{% extends "layout_canda.html" %}


{% block pageTitle %} Delegation
  {{serviceNameConsents}} - Giving other people access to view your pensions
{% endblock %}
  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-l">
        Withdraw a person's access to view your pensions
      </h1>
      <P>
        These people have access to view your pensions. You can withdraw their access.
      </P>
      <br>

      <table class="govuk-table">
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">{{delegateName}}</td>
          <td class="govuk-table__cell"> until {{delegateDurationDate}}</td>
          <td class="govuk"><button class="govuk-button--warning">Remove access</button></td>
        </tr>
      </table>       

      <a href="confirm" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
      Return
      </a>
    </div>
  </div>
  
{% endblock %}