
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %} Pension Finder
  {{serviceNameConsents}} - Enter your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/enter-your-details" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="details-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading pdp-consent-heading-font">
                Enter your details
              </h1>
            </legend>
            <div id="details-hint" class="govuk-hint pdp-consent-font">
              We will use these details to find your pensions.         
            </div>
            <h2 class="govuk-heading-m">
              Details given to us by the identity service
            </h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  First name
                </dt>
                <dd class="govuk-summary-list__value">
                  Jane
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Last name
                </dt>
                <dd class="govuk-summary-list__value">
                  Smith
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  1 April 1982
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  42 High Street<br>Reading<br>Berkshire<br>RG1 4WD
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
            </dl>
          <br>
          <h2 class="govuk-heading-m pdp-consent-font">
              National Insurance number
          </h2>
     
          <div class="govuk-form-group">

            <div id="details-hint" class="govuk-hint pdp-consent-font">
              Entering your National Insurance number will make it more likely that we will find your pensions.         
            </div>
            <input class="govuk-input govuk-input govuk-input--width-10 pdp-consent-font" id="ni-number" name="ni-number" type="text">
          </div> 
          <h2 class="govuk-heading-m">
              Enter more information to find your pensions
          </h2>
          <div id="details-hint" class="govuk-hint pdp-consent-font">
            These additional details could also help us find your pensions.
          </div>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Previous or alternative name
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div id="alt-name-hint" class="govuk-hint pdp-consent-font">
                  If you have a used a different name to register a pension enter it here.
               
                <input class="govuk-input govuk-input govuk-input--width-30 pdp-consent-font" id="alt-name" name="alt-name" type="text">
              </div>
              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Previous address
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>If you have a used a different address to register a pension enter it here.</p>
                <div class="govuk-form-group">
                  <label class="govuk-label pdp-consent-font" for="prev-address-line-1">
                    Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input pdp-consent-font" id="prev-address-line-1" name="prev-address-line-1" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label pdp-consent-font" for="prev-address-line-2">
                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds pdp-consent-font" id="prev-address-line-2" name="prev-address-line-2" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label pdp-consent-font" for="prev-address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds pdp-consent-font" id="prev-address-town" name="prev-address-town" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label pdp-consent-font" for="prev-address-county">
                    County
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds pdp-consent-font" id="prev-address-county" name="prev-address-county" type="text">
                </div> 
                <br>
                <p>
                  <a href="#prev-address" role="button" draggable="false" class="govuk-button pdp-consents-button pdp-consents-button-small">
                    Enter another previous address
                  </a>
                </p>

              </div>
            </div>

            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Additional details
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <p>
                    These details will only be used to find your pensions and will not be used to contact you.
                  </p>
                  <label class="govuk-label pdp-consent-font" for="prev-address-line-1">
                    Email address <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input pdp-consent-font" id="email" name="email" type="email" spellcheck="false">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label pdp-consent-font" for="prev-address-county">
                    UK Telephone Number
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds pdp-consent-font" id="prev-address-county" name="prev-address-county" type="text">
                </div> 
              </div>
            </div>
          </div>
          <button class="govuk-button pdp-consents-button" data-module="govuk-button">
            Save and continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
