            <h2 class="govuk-heading-m">
              Missing pensions
            </h2>
            <p>
              Pension providers need to be connected to our service for us to ask them for your pension information. This is a new service and not all pension providers have connected to our service. New connections are being made all the time so pensions may start to appear on [dashboard name]. If you know the name of the pension provider you can see if it is on our list and ask for us to request your pension information from them. If the pension provider is not on our list you will need to wait until they have connected to our service before you an see your pension infromation from them.
            </p>
            <p>
              Some pension providers may take a little longer to let us know if you have a pension with them. Once we have asked them if you have a pension with them, they have three weeks before they have to provide the details.
            </p>
            <p>
              We send the information you entered to the pension providers so that they can search their records to see if they have a pension for you. If they cannot be sure that a pension they have found is yours, they will let us know that they have found a pension that may be yours. We call this a partial match. 


              . that You may want to display another pension on the If you have recently started contributing to a new pension or a pension you expected to see is not displayed by the service you can ask the service to find it from a list of pension providers.
            </p>
