{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceNameConsents}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Finding your pensions
      </h1>

      <p>
        PensionFinder will contact every pension provider in the UK to find your pensions but before we do that you will need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>verify your identity</li>
        <li>consent to the processing of your personal data within the service, so that we can find your pensions and you can view them on MoneyHelper</li>
      </ul>

      <p>
        You need to create an identity account to verify that you are who you say you are. It usually takes 15 minutes to prove who you are.
      </p>

      <a href="/consents/redirect-identity" role="button" draggable="false" class="govuk-button govuk-button--start pdp-consents-button govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
{% endblock %}