{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceNameConsents}}
{% endblock %}
  
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-xl pdp-consent-heading-font">
        Searching for your pensions
      </h1>

      <p class="pdp-consent-font">
        Pension Finder will contact every pension provider in the UK to find out if you have a pension with them. Before we do that you will need to:</p>

      <ul class="govuk-list govuk-list--bullet pdp-consent-font">
        <li>verify your identity</li>
        <li>consent to the processing of your personal data within the service, so that we can find your pensions and you can view them on MoneyHelper</li>
      </ul>

      <a href="/consents/redirect-identity" role="button" draggable="false" class="govuk-button pdp-consents-button">
        Continue
      </a>
    </div>
  </div>
  
{% endblock %}