
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - What do you want to do?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="/consents-select-action" method="post" class="form">
        {{ govukRadios({
          idPrefix: "select-action",
          name: "select-action",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "find",
              text: "Find your pensions",
              hint: {
                text: "You may want to search for your pensions again if you have opened a new private pension or have started a new job."
              }
            },
            {
              value: "delegates",
              text: "Consent to an authorised persion viewing your pensions"
            },
            {
              value: "manage-consents",
              text: "Change which organisations can display your pensions."
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "pdp-consents-button"
        }) }}

        </div>
      </form>

    </div>
  </div>

{% endblock %}