
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/manage-pension-access" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl pdp-consent-heading-font">
            Manage access to pensions
          </h1>
          <p class="pdp-consent-font">
            Manage your preferences for which dashboard providers can access your pension information
          </p>            

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        MoneyHelper
      </h1>
    </legend>
    <div id="waste-hint" class="govuk-hint">
      You can select which pensions MoneyHelper displays
    </div>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I consent to MoneyHelper having access to my pensions
        </label>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Aviva
            </h1>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            You can select which pensions Aviva displays
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
              <label class="govuk-label govuk-checkboxes__label" for="waste">
                I consent to Aviva having access to my pensions
              </label>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Pension Bee
                  </h1>
                </legend>
                <div id="waste-hint" class="govuk-hint">
                  You can select which pensions Pension Bee displays
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                      I consent to Pension Bee having access to my pensions
                    </label>
                  </div>

        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
