{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceNameIdentity}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <h1 class="govuk-heading-xl pdp-consent-heading-font">
        Verify your identity
      </h1>

      <p class="pdp-consent-font">
        To set up an identity account, you need to provide evidence for the company to check.
      </p>
      <p class="pdp-consent-font">
        When creating the account you'll be asked for:
      </p>
      <ul class="govuk-list govuk-list--bullet pdp-consent-font">
        <li>a valid passport</li>
        <li>a valid driving licence, full or provisional, with your photo on it</li>
      </ul>
      <p class="pdp-consent-font">
        The companies can check your passport and driving licence against official records. They can also confirm your personal details by accessing information like credit records. This will help them be sure it's really you.
      </p>
      <p class="pdp-consent-font">
        If you only have one photo identity document (ID), you'll also need a phone or a tablet to download a free app and take pictures of it. This will let you prove the ID is yours.
      </p>
      <p class="pdp-consent-font">
        If you have these things but they’re somewhere else, come back when you have them with you.
        To use this service you need to verify your identity, so that we know that you are who you say your are.
      </p>

      <a href="/identity/identity-login" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
        Continue 
      </a>
    </div>
  </div>
{% endblock %}
