
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/enter-your-details" method="post" class="form">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <h1 class="govuk-heading-xl pdp-consent-heading-font">
              Searching for your pensions
            </h1>
  
            <p class="govuk-body pdp-consent-font">We will send the following information to {{directedOrAll}}:</p>
            <table class="govuk-table">
              <tbody class="govuk-table__body pdp-consent-font">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">First name</th>
                  <td class="govuk-table__cell">{{firstName}}</td>
                </tr>                
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Last name</th>
                  <td class="govuk-table__cell">{{lastName}}</td>
                </tr>

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Date of birth</th>
                  <td class="govuk-table__cell">{{dob}}</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Address</th>
                  <td class="govuk-table__cell">{{address}}</td>
                </tr>      

                {% if niNumber %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National Insurance number</th>
                    <td class="govuk-table__cell">{{niNumber}}</td>
                  </tr>
                {% endif %}

                {% if altName %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Previous or alternative name</th>
                    <td class="govuk-table__cell">{{altName}}</td>
                  </tr>
                {% endif %}
<!--
                {% if prevAddress %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Previous address</th>
                    <td class="govuk-table__cell">{{prevAddress}}</td>
                  </tr>
                {% endif %}
-->                
                {% if emailAddress %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">{{emailAddress}}</td>
                  </tr>
                {% endif %}

                {% if telNumber %}
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Telephone number</th>
                    <td class="govuk-table__cell">{{telNumber}}</td>
                  </tr>
                {% endif %}

              </tbody>
            </table>

            <br>

            <a href="/find-your-pensions/fyp-display-pensions?ptype=5" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
              Confirm and return to MoneyHelper
            </a>

        </div>
      </form>

    </div>
  </div>

{% endblock %}