
{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %} Pension Finder
{{serviceNameConsents}} - Giving consent
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/consents-all" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-xl">
            Giving your consent
          </h1>
          <p>
            We will only use your personal information to find your pensions and we will not share it with any other parties outside the service.
          </p>  
          <p>
            To use the service you must consent to all of these statements.
          </p>          
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                I Consent to the Money and Pensions Service:
              </h2>
            </legend>
            <span id="consents-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:
              </span>
              {{consentsErrorString}}
            </span>

            <div class="govuk-checkboxes {{errorFormClass}}" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consents-1" name="consents-1" type="checkbox" value="share-providers" {{checkedConsent1}}>
                <label class="govuk-label govuk-checkboxes__label" for="consents-1"  >
                  sharing my personal identity data with all the UK's pension providers to find my pensions
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consents-3" name="consents-3" type="checkbox" value="provider-check"  {{checkedConsent3}}>
                <label class="govuk-label govuk-checkboxes__label" for="consents-3">
                  telling my pension providers where to send my information
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consents-4" name="consents-4" type="checkbox" value="store-consents"  {{checkedConsent4}}>
                <label class="govuk-label govuk-checkboxes__label" for="consents-4">
                  storing a record of my consent
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="consents-2" name="consents-2" type="checkbox" value="tokens" {{checkedConsent2}}>
                <label class="govuk-label govuk-checkboxes__label" for="consents-2">
                  using and storing information related to me and my pensions
                </label>
                <div id="consents-item-hint" class="govuk-hint govuk-checkboxes__hint" >
                  This is to keep your identity and information secure.
                </div>
              </div>
            </div>
        </fieldset>
        </div>

        <p>
          <a href="">More information about these consents</a>
        </p>

        <button type="submit" class="govuk-button pdp-consents-button" onclick="checkError()">Continue</button>
      </form>
    </div>
  </div>

{% endblock %}
