{% extends "layout_canda.html" %}

{% block pageTitle %}
{{serviceNameConsents}} - Manage access to pensions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      <form action="/manage-pension-access" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-heading-l pdp-consent-heading-font">
            Select which organisations can display your pensions
          </h1>
          <p>
            These organisations store information about your pensions so that you can view them on their webistes. If you  remove an organisation you will not be able to see your pensions on their website.
          </p>    
          <p>
            Untick the box against an organisation to remove their access to your pension provider information.
          </p>
          
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pension-1" name="pension-1" type="checkbox" value="pension-1" checked>
              <label class="govuk-label govuk-checkboxes__label" for="pension">
                MoneyHelper
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pension-2" name="pension-2" type="checkbox" value="pension-2" checked>
              <label class="govuk-label govuk-checkboxes__label" for="pension-2">
                Aviva
              </label>
            </div> 
            <br/>
            <a href="/c-and-a/main-menu" role="button" draggable="false" class="govuk-button pdp-consents-button" data-module="govuk-button">
            Confirm
            </a>
          </div>
        </div>
      </form>
    </div>
  </div> 

{% endblock %}
