{% extends "layout_unbranded_consents.html" %}

{% block pageTitle %}
  {{serviceName}} - Login
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="/fyp-login" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="details-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Sign in
              </h1>
            </legend>

            <span id="no-account-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{loginErrorString}}
            </span>

            <p>If you don't have an account you can <a href="/find-your-pensions/fyp-create-account" role="button">create one now</a>.</p>

            <div class="govuk-form-group">
              <label class="govuk-label" for="email">
                Email address
              </label>
              <input class="govuk-input govuk-input--width-30" id="email" name="email" type="email" spellcheck="false" autocomplete="email">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="password">
                Password
              </label>
              <input class="govuk-input govuk-input--width-30" id="password" name="password" type="password">
            </div>
            <br>
          </fieldset>
        </div>
        <p><a href="/find-your-pensions/fyp-password-reset">Forgot password?</a></p>
        
        <button type="submit" class="govuk-button pdp-button" onclick="checkError()">Sign in</button> 
    </form>
  </div>
</div>
{% endblock %}
