
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/which-start-page" method="post" novalidate>

          {{ govukRadios({
            idPrefix: "which-start",
            name: "which-start",
            fieldset: {
              legend: {                
                text: "Which area of the prototype do you want to start from?",

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },

            items: [
              {
                value: "consents",
                text: "Manage your consents"
              },
              {
                value: "adddelegate",
                text: "Add a delegate"
              },
              {
                value: "consents",
                text: "Action a find"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>
    </div>
  </div>

{% endblock %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}