
{% extends "layout_unbranded_admin.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/prototype-or-admin" method="post" novalidate>

          {{ govukRadios({
            idPrefix: "which-start",
            name: "which-start",
            fieldset: {
              legend: {                
                text: "What do you want to do?",

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },

            items: [
              {

                value: "consumer-prototype",
                text: "Consumer prototype - consent to delegate access"
              },
              {
                value: "delegate-prototype",
                text: "Delegate prototype - view client information"
              },
              {
                value: "admin",
                text: "Manage pension details for a participant"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Participant number
      </h2>
      <p>
        {{participantNumber}}
      </p>
      <h2 class="govuk-heading-m">
        Database
      </h2>
      <p> 
        {{pensionsDatabase}}
      </p>
    </div>
  </div>

{% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}