
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/which-start-page" method="post" novalidate>

          {{ govukRadios({
            idPrefix: "which-start",
            name: "which-start",
            fieldset: {
              legend: {                
                text: "What do you want to do?",

                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },

            items: [
              {

                value: "full",
                text: "Go to the full prototype from the dashboard start"
              },
              {
                value: "manage-consents",
                text: "Go to PensionFinder index page for managing consents"
              },    
              {
                divider: "or"
              },
              {
                value: "manage-pensions",
                text: "Manage pension details for a participant"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Participant number
          </dt>
          <dd class="govuk-summary-list__value">
            {{participantNumber}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Database
          </dt>
          <dd class="govuk-summary-list__value">
            {{pensionsDatabase}}
          </dd>
        </div>
      </dl>
    </div>
  </div>

{% endblock %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          }
        ],
        visuallyHiddenTitle: "Footer links"
      }
    }) }}
  {% endblock %}