{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded_admin.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <link rel="stylesheet" href="">


  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
<div class="govuk-header pdp-admin-header">
  <div class="govuk-header__container govuk-width-container ">
    <div class="pdp-service-name-admin">
      <a href="/c-and-a/main-menu" class="govuk-header__link govuk-header__link--service-name pdp-header-content-admin">
        {{serviceName}}
      </a>
    </div>
    <p></p>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="govuk-footer pdp-footer">
  <div class="govuk-width-container">

  </div>
</div> 
{% endblock %}
