{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded-commercial.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko">

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}

<div class="govuk-header__container govuk-width-container pdp-header-full-width pdp-header-no-border">
  <header class="govuk-header pdp-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container pdp-header-no-border">

      <div class="govuk-header__content pdp-header pdp-header-no-border">
        <p class="pdp-header-logo">
            Pension Life
        </p>
        <div>
          <nav>
            <ul id="navigation" class="govuk-header__navigation pdp-header-nav pdp-header-float-left" aria-label="Navigation menu">

              <li class="govuk-header__navigation-item">
                  Insurance
              </li>
              <li class="govuk-header__navigation-item">
                  Investments
              </li>
              <li class="govuk-header__navigation-item">
                  Retirement
              </li>
              <li class="govuk-header__navigation-item">
                  Equity Release
              </li>         
              <li class="govuk-header__navigation-item pdp-header-float-right">
              </li>
            </ul>    
          </nav>      
          <nav class="pdp-header-float-right">
            <ul id="navigation" class="govuk-header__navigation pdp-header-nav pdp-header-float-left" aria-label="Navigation menu">
              <li class="govuk-header__navigation-item">
                <a href="cdb-login" role="button" draggable="false" class="govuk-button pdp-button pdp-header-button " data-module="govuk-button">
                  Sign in
                </a> 
              </li> 
              <li class="govuk-header__navigation-item">
                <a href="cdb-create-account" role="button" draggable="false" class="govuk-button pdp-button pdp-header-button-register " data-module="govuk-button">
                  Register
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
{% endblock %}

{% block footer %}
<div class="govuk-footer pdp-footer">
  <div class="govuk-width-container pdp-footer-full-width">
    <div class="govuk-grid-row pdp-border-top">
      <div class="govuk-grid-column-one-third">
        <ul class="pdp-footer-ul">
          <li class="pdp-footer-li">
            About us
          </li>
          <li class="pdp-footer-li">
            Help and guidance
          </li>
          <li class="pdp-footer-li">
            Contact us
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="pdp-footer-ul">
          <li class="pdp-footer-li">
            Privacy
          </li>
          <li class="pdp-footer-li">
            Accessibility
          </li>
          <li class="pdp-footer-li">
            Modern Slavery Statement
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <ul class="pdp-footer-ul">
          <li class="pdp-footer-li">
            Manage cookies
          </li>
          <li class="pdp-footer-li">
            Site map
          </li>
          <li class="pdp-footer-li">
            Glossary
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
