<!-- Progress bar for start of the journey. Included in the dashboard start pages -->
<div class="govuk-grid-row pdp-grid-row-padding">
  <div class="govuk-grid-column-one-quarter pdp-progress-bar">

    <p class="pdp-number-circle pdp-highlight-step-number">
      1
    </p>
    <p class="govuk-body-s pdp-align-centre">
      Start
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter pdp-progress-bar">
    <p class="pdp-number-circle">
      2
    </p>
    <p class="govuk-body-s pdp-align-centre">
      Verify your identity
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter pdp-progress-bar">
    <p class="pdp-number-circle">
      3
    </p>
    <p class="govuk-body-s pdp-align-centre">
      Search for your pensions
    </p>
  </div>
  <div class="govuk-grid-column-one-quarter pdp-progress-bar">
    <p class="pdp-number-circle">
      4
    </p>
    <p class="govuk-body-s pdp-align-centre">
      View your pensions
    </p>
  </div>
</div>